.DS_Store
.venv
.vscode
.idea
.pytest_cache
.*cache
ignore*

IO
__pycache__
pickles
image
result
jupyter
*.egg-info
*.ipynb
*.xlsx
*.pkl

# Nupack + Nupack test files
nupack-4.*
blah
design-checkpoint